<div [formGroup]="testForm">
    <label>clientId</label><input type="number" formControlName="clientId"><br><br>
    <label>location</label><input type="text" formControlName="location"><br><br>
    <label>meetingPoc</label><input type="text" formControlName="meetingPoc"><br><br>
    <label>meetingPocEmail</label><input type="text" formControlName="meetingPocEmail"><br><br>
    <label>meetingPocNumber</label><input type="text" formControlName="meetingPocNumber"><br><br>
    <label>meetingDesig</label><input type="text" formControlName="meetingDesig"><br><br>
    <label>userId</label><input type="number" formControlName="userId"><br><br>
    <label>meetingMom</label><input type="text" formControlName="meetingMom"><br><br>
    <label>meetingDate</label><input type="date" formControlName="meetingDate"><br><br>
    <label>remainderOn</label><input type="date" formControlName="remainderOn"><br><br>
    <input type="file" (change)="filevent($event)"><br><br>
    <button type="submit" (click)="submitData()">Submit</button>
</div>